html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}

h3 {
    font-size: 1.8rem;
}

dt {
    font-size: 1.4rem;
}

header {
    position: fixed;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* NAV */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FAFAFA;
}

header nav ul li {
    display: inline-block;
    margin: 0 2rem;
}

header nav img {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
}

/* WELCOME */
main section#welcome {
    height: 100vh;
    width: 100%;
    background-image: url("../img/loaf-2436370_1920.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main section#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section#welcome h2 {
    color: #FAFAFA;
    font-size: 4.4rem;
    font-family: 'Parisienne', cursive;
    text-align: center;
}


main section#welcome p {
    color: #FAFAFA;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

/* MENU */

main section#menu {
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 60%;
}

main section#menu h2 {
    font-size: 2.8rem;
}

main section#menu>ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main section#menu ul li section dl dd {
    display: inline-block;
}

/* SUR-MESURE */
main section#sur-mesure {
    padding: 4rem;
    background-color: #f7efe3;
    margin: 0 auto;

}

main section#sur-mesure h2 {
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

main section#sur-mesure img {
    display: block;
    margin: 0 auto;
    max-height: 100vh;
    border-radius: 10px;
    max-width: 60%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* ACOMPTE */
main section#acompte {
    padding: 2rem;
    max-width: 60%;
    margin: 0 auto;

}

main section#acompte h2 {
    padding: 2rem 0 0;
    margin: 0;
    color: #222;
}

main section#acompte p {
    padding: 0;
    margin: 0 0 2rem;

}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FAFAFA;
    background-color: #aa7a63;
}

footer i {
    font-size: 2rem;
    color: #FAFAFA;
}

footer p {
    text-align: center;
    color: #FAFAFA;

}

footer>ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 8rem 8rem 2rem;
}


footer ul li {padding: 1rem;
}

footer ul li section ul {
    display: flex;
    flex-direction: column;
}

footer ul li section ul li{
    padding: 0 0 1rem;
}

footer p a{
    color: #FAFAFA;
}