:root {
    --color-main: #aa7a63;
}

/* NAV */
header nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FAFAFA;
    z-index: 1;
    transition: .6s;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header nav img {
    width: 4.045rem;
    height: 4.045rem;
    padding: .405rem;
}

header nav ul li a {
    display: block;
    padding: 0 0 .809rem 0;
}

/* WELCOME */
main section#welcome {
    height: calc(100vh);
    width: 100%;
    background-image: url("../img/loaf-2436370_1920.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main section#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section#welcome h2 {
    color: #FAFAFA;
    font-size: 4.4rem;
    font-family: 'Parisienne', cursive;
    text-align: center;
}


main section#welcome p {
    color: #FAFAFA;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

/* MENU */

main section#menu {
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 60%;
}

main section#menu h2 {
    font-size: 2.8rem;
    font-weight: bolder;
}

main section#menu>ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main section#menu ul li section h3 {
    font-size: 1.8rem;
    font-weight: bolder;
    margin: 3rem 0 1.2rem;
}

main section#menu ul li section dl dt {
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 1.8rem 0 .4rem;

}

main section#menu ul li section dl dd {
    display: inline-block;
    line-height: 1.4rem;
}

main section#menu ul li.product {
    display: flex;
    flex-direction: column;
    padding: 0 0 .809rem;
}

/* SUR-MESURE */
main section#sur-mesure {
    padding: 2rem;
    background-color: #f7efe3;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section#sur-mesure h2 {
    text-align: center;
    padding: 2rem;
    margin: 0;
    font-size: 1.4rem;
    font-weight: bolder;
}

main section#sur-mesure img {
    display: block;
    margin: 1.618rem auto;
    max-height: 100vh;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

main section#sur-mesure p {
    text-align: center;
}

main section#sur-mesure p a {
    display: block;
    padding: .6rem .8rem;
    font-weight: bold;
    font-size: 1.214rem;
    background-color: #4CAF50;
    color: #FAFAFA;
    border-radius: 8px;
    line-height: 1.618rem;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FAFAFA;
    background-color: #aa7a63;
    max-width: 100%;
}

footer i {
    font-size: 2rem;
    color: #FAFAFA;
}

footer p {
    text-align: center;
    color: #FAFAFA;

}

footer>ul {
    max-width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 2rem 2rem;
}


footer ul li {
    padding: 1rem;
}

footer ul li img {
    max-width: 12rem;
}

footer ul li section h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
    font-weight: bolder;
}

footer ul li section ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul li section ul li {
    padding: 0 0 1rem;
    line-height: 1.4rem;
    width: 100%;
    text-align: center;
}

footer ul li section ul li a {
    color: #FAFAFA;
}

footer ul li section ul li a i {
    margin: 0 .809rem;
}

footer p {
    padding: 1rem;
    line-height: 1.4rem;
}

footer p a {
    color: #FAFAFA;
}


/* DESKTOP VERSION */

@media screen and (min-width: 770px) {
    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2rem;
    }

    dt {
        font-size: 1.8rem;
    }

    dd {
        font-size: 1.2rem;
    }

    /* HEADER */
    header nav {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav a img {
        height: 8.09rem;
        width: 8.09rem;
    }

    header nav ul {
        width: initial;
    }

    header nav ul li {
        font-size: 2rem;
        padding: 0 4rem 0 0;
    }

    /* WELCOME */

    main section#welcome h2 {
        font-size: 12rem;
    }

    /* MENU */
    main>section#menu {
        max-width: 60%;
        padding: 12rem 0;
    }

    main section#menu>ul {
        flex-direction: row;
        justify-content: space-between;
    }

    main section#menu ul li.product {
        flex-direction: row;
        justify-content: space-between;
        width: 20vw;
    }

    /* SUR-MESURE */
    main section#sur-mesure {
        padding: 8rem;
    }

    main section#sur-mesure h2 {
        font-size: 3.2rem;
    }

    main section#sur-mesure img {
        width: 32rem;
    }

    main section#sur-mesure p a {
        display: inline-block;
        font-size: 2rem;
        padding: 2rem;
        margin: 2rem;
    }
    main section#sur-mesure p{
        font-size: 1.4rem;
    }
    /* FOOTER */
    footer{
        padding: 8rem 8rem 0;
    }
    footer>ul {
    align-items: flex-start;
    }

    footer ul li img {
        max-width: 60%;
    }
    
    footer ul li section h2 {
font-size: 2rem;
}
footer ul li section ul li {
font-size: 1.4rem;
line-height: 2rem;
text-align: start;
}
footer p {
    padding: 2rem;
    color: #FAFAFA;
    font-size: 1rem;
}
 
}